{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">
</head>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static '/images/logo.png' %}" alt="" width="45" height="45" class="d-inline-block align-text-top">
          STALLION
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto"> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'programs' %}">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'events' %}">Events</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Reserve</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactUs' %}">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle bi" width="22px" height="22px"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <span class="messages"> {{request.user}}</span>
              </li>
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>

    
</nav>

