{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Stallion Sports Club</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Font Icon CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/index.css' %}"
    />
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{% static '/css/programs.css' %}" 
    />

  </head>

  <body class="d-flex flex-column min-vh-100">
    {% include 'stallion_website/navbar.html' %}

    <!-- Bootstrap Carousel -->
    <section>
      <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div id="carouselItem1" class="carousel-item active">
            <img
              src="https://images.unsplash.com/photo-1544698310-74ea9d1c8258?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80"
              width="100%"
              height="800px"
              class="d-block w-100"
              alt="Player jpg"
            />
            <div class="carousel-caption d-md-block">
              <h5>Be part of our Football Team!</h5>
              <p>
                You want to give football your all? We've got the right program that can help you fulfill your potential.
              </p>
              <a
                href="{% url 'programinfo' %}"
                type="button"
                class="btn btn-primary primary-btn-stallion"
              >
                Join Us
            </a>
            </div>
          </div>
          <div id="carouselItem2" class="carousel-item">
            <img
              src="{% static '/images/basketball.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Join Us for Basketball Classes!</h5>
              <p>
                Elevate your basketball skills to the next level with our professional athletes!
              </p>
              <a
                href="{% url 'programinfo' %}"
                type="button"
                class="btn btn-primary primary-btn-stallion"
                width="175px"
              >
                Enroll
              </a>
              
            </div>
          </div>
          <div id="carouselItem3" class="carousel-item">
            <img
              src="{% static '/images/volleyball.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Discover our Volleyball Program!</h5>
              <p>
                Be part of our Stallion's women volleyball team and compete in local and international volleyball tournaments.
              </p>
              <a
                href="{% url 'programinfo' %}"
                type="button"
                class="btn btn-primary primary-btn-stallion"
                href="{% url 'programinfo' %}"
              >
                Join Now!
            </a>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#heroCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#heroCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>


    <!-- Programs Section -->
    <section id="programs" class="container-fluid">
      <div class="row h-100">
        <div class="col" style="background-color: var(--darkslategray)">
          <h1>Our Programs</h1>
          <p>
            Stallion offers various sports programs for aspiring athletes and
            people seeking to pick up new hobbies. Check out more of our program
            below!
          </p>
        
          

        <div class="col-12">
          <div class="card-group">
            {% for program in programs_list %}
            <div class="card program-card">
              <a href="{% url 'programinfo' %}"
              style="color:white"
              >
              <img
                src='{{program.image_url}}'
                style="object-fit: contain"
                class="card-img"
                alt="..."
              />
              <div class="card-img-overlay">
                <h5 class="card-title">{{program.name}}</h5>
                
                <div class="card-text">
                  <i class="bi bi-person-fill"></i>
                  <div>{{program.coach.name}}</div>
                </div>
                <div class="card-text">
                  <i class="bi bi-calendar-fill"></i>
                  <div>{{program.start_time}} - {{program.end_time}}</div>
                </div>
                <div class="card-text">
                  <i class="bi bi-cash-stack"></i>
                  <div>${{program.price}}</div>
                </div>
                <!-- <div class="card-text">
                  <i class="bi bi-geo-alt-fill"></i>
                  <div>Westward Building Court 1</div>
                </div> -->
                
              </div>
            </div>
            
            {% endfor %}
          
          </div>
        </div>
      </div>
    </section>
    


    {% include 'stallion_website/footer.html' %}

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5621173105.js"
      crossorigin="anonymous"
    ></script>

    

  </body>
</html>
