{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Stallion Sports Club</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Font Icon CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/index.css' %}"
    />
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{% static '/css/reserve.css' %}" 
    />

  </head>

  <body class="d-flex flex-column min-vh-100">
    {% include 'stallion_website/navbar.html' %}

    <!-- Fields Main -->
    <section id="fieldMain" class="container-fluid">
      <div class="row justify-content-center">
        <div class="sportsimg">
          
          <img
              width=100%
              src="{% static '/images/basketball.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
            <!-- <a
              type="button"
              class="btn btn-primary primary-btn-stallion"
              width="175px"
              style="margin-right: 1.5rem; margin-left:450px;"
            >
            View Fields and Courts
            </a> -->
        </div>
      </div>
    </section>

    <!-- Fields and Courts -->
        <!-- Programs Section -->
        <section id="programs" class="container-fluid">
          <div class="row h-100">
            <div class="col" style="background-color: var(--white)">
              <h1>Our Fields and Courts</h1>
              <p class="text-dark">
                Our facilities include a variety of courts and fields that are at the disposal of our loyal members. Check them out below!
              </p>
                
            <div class="col-10 mx-auto">
              <div class="card-group">
                {% for court in courts_list %}
                <div class="card program-card m-3" style="height: fit-content;">
                  <img
                    src='{{court.image_url}}'
                    style="object-fit: contain"
                    class="card-img"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{court.name}}</h5>
                    
                  </div>
                </div>
                
                {% endfor %}
              
              </div>
            </div>
          </div>
        </section>

  

    {% include 'stallion_website/footer.html' %}

    
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5621173105.js"
      crossorigin="anonymous"
    ></script>

    

  </body>
</html>
