@import url("variables.css");

footer{
    background-color: var(--darkslategray) ;
}

footer .btn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 60%;
    width: 40px;
    height: 40px;
}

footer .btn:hover{
    background-color: var(--darkorange);
    border-color: var(--darkorange)
}
