@import url("variables.css");

* {
    margin: 0;
    padding: 0;
}

html, body{
    background: var(--darkgrey);
    color: #d6d6d6a1
}

h1 {
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    color: var(--darkorange);
    width: fit-content;
    border-bottom: 5px double #ff8c009c;
    margin-bottom: 2rem;
}

/* CAROUSEL */

.carousel {
    width: 100%;
    height: 650px;
}

.carousel-inner{
    width: auto;
    height: 100%;
}

.carousel-caption{
    top: 15%;
    left: 15%; 
    text-align: left;
    width: 40%; 
}

.carousel-caption h5 {
    font-size: 3.75rem;
    color: var(--darkorange);
    text-shadow: 0 10px 10px #00000083
}

.carousel-caption p {
    font-size: 1.75rem;
    margin: 3.25rem 0; 
}

/* NEXT EVENT */

#nextEvent.container{
    width:100vh; 
    margin:0; 
}
#nextEvent{
    background-color: white;
}

/* PROGRAMS */

.card-text{
    display: flex;
}

#programs {
    padding: 2.75rem 6.25rem;
    color: var(--darkslategray);
}

.program-card{
    box-shadow:  0 5px 7px #00000036;
}
.program-card .card-body .card-title{
    color: var(--darkslategray);
}

.program-card .card-body .card-text i{
    margin-right: 0.5rem;
    color: var(--darkorange);
}

#programs p{
    margin: 2rem 2rem 2rem 0;
    color: white;
    font-size: 1.25rem;
}

