@import url("variables.css");

* {
    margin: 0;
    padding: 0;
}

html, body{
    background: var(--darkgrey);
}

.container{
    border: transparent;
    display: inline;
    width: auto;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.middle{
    border: solid 1.5px #ff521b;
    width: 52%;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 350px;
}

