:root{
    --darkorange: #ff8614;
    --orange: #fda14b;
    --darkslategray: #2c2a2a;
    --darkgrey: #424242;
    --white: #e7e7e7;
}

.search-btn{
    background-color: var(--white);
}
.search-btn:hover{
    background-color: var(--orange);
    color: white;
}

.primary-btn-stallion{
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem ;
    background-color: var(--darkorange);
    border:2px solid var(--darkorange);
    box-shadow: 0 2px 2px #00000036
}  
   
.primary-btn-stallion:hover,
.primary-btn-stallion:active,
.primary-btn-stallion:focus,
.primary-btn-stallion:visited{
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
}

.secondary-btn-stallion{
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem ;
    background-color: transparent;
    color: var(--darkorange);
    border:2px solid var(--darkorange);
    box-shadow: 0 2px 2px #00000036
}

.secondary-btn-stallion:hover, 
.secondary-btn-stallion:active, 
.secondary-btn-stallion:focus{
    background-color: var(--darkorange) !important;
    border-color: var(--darkorange) !important;
    color: white;
}

.secondary-btn-stallion-sm{
    font-weight: 600;
    background-color: transparent;
    color: var(--darkorange);
    border:2px solid var(--darkorange);  
    box-shadow: 0 2px 2px #00000036
}

.secondary-btn-stallion-sm:hover, 
.secondary-btn-stallion-sm:active, 
.secondary-btn-stallion-sm:focus{
    background-color: var(--darkorange) !important;
    border-color: var(--darkorange) !important;
    color: white;
}

