:root{
    --darkorange: #ff8614;
    --orange: #fda14b;
    --darkslategray: #2c2a2a;
    --darkgrey: #424242;
    --white: #e7e7e7;
}

.primary-btn-stallion{
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem ;
    background-color: var(--darkorange);
    border:2px solid var(--darkorange);
    box-shadow: 0 2px 2px #00000036
}  
   
.primary-btn-stallion:hover{
    background-color: var(--orange);
    border-color: var(--orange);
}

.secondary-btn-stallion{
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem ;
    background-color: transparent;
    color: var(--darkorange);
    border:2px solid var(--darkorange);
    box-shadow: 0 2px 2px #00000036
}

.secondary-btn-stallion:hover{
    background-color: var(--darkorange);
    border-color: var(--darkorange);
    color: white;
}

.secondary-btn-stallion-sm{
    font-weight: 600;
    background-color: transparent;
    color: var(--darkorange);
    border:2px solid var(--darkorange);  
    box-shadow: 0 2px 2px #00000036
}

.secondary-btn-stallion-sm:hover{
    background-color: var(--darkorange);
    border-color: var(--darkorange);
    color: white;
}

.login-btn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 60%;
    width: 40px;
    height: 40px;
}

.login-sm-btn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 60%;
    width: 40px;
    height: 40px;
}

.login-txt{
    color: var(--darkorange)
}

.login-txt:hover{
    color: var(--darkorange)
}

/* Divider */
.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}